name = "battery"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[build]
command = "npm run build"
cwd = "."
watch_dir = "src"

[env.production.vars]
NODE_ENV = "production"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[pages]
output_directory = "out"
